name: Matrix Workflow
on: push
jobs:
  build:
    strategy:
      matrix:
        node-version: [14, 16, 18] # Define Node.js versions
        os: [ubuntu-latest, windows-latest, macos-latest] # Define OS types
    runs-on: ${{ matrix.os }} # Use OS from matrix
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix['node-version'] }} # Use Node.js version from matrix
      - name: Install dependencies
        run: npm ci
      - name: Build Project
        run: npm run build